#registry config for iceGrid
IceGrid.Registry.Client.Endpoints=tcp -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
#持久化目录
IceGrid.Registry.Data=./registry
#是否允许动态注册
IceGrid.Registry.DynamicRegistration=1
